.searchContainer {
  display: flex;
  margin-top: 2.6rem;
  justify-content: space-between;
  max-width: 92.3%;
  padding-left: 5.7rem;
}

.movies {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}

.inputsSection {
  width: 92%;
  padding-left: 8%;
  margin-top: 2.35rem;
}

.resetFilters {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #7b7c88;
  margin-top: 2.6rem;
}

.sortInputWrapper {
  display: flex;
  justify-content: end;
  width: 91.5%;
  margin-top: 1.6rem;
}

.moviesBlock {
  margin-top: 3.4rem;
  gap: 1rem;
}

.pagination {
  margin-top: 24px;
  position: absolute;
  right: 6.3%;
}
