.movieStatistics {
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.ratingAndVotes {
  gap: 0.5rem;
}

.rating {
  font-weight: 600;
  line-height: 1.25rem;
}

.votes {
  color: var(--main-grey);
  line-height: 1.188rem;
}
