* {
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --main-purple: #9854f6;
  --alt-purple: #e5d5fa;
  --main-pink: #f2ebf9;
  --main-grey: #7b7c88;
  --main-white: #fff;
}

.mantine-Modal-header {
  border-radius: 0.5rem;
}
